* {
    box-sizing: border-box;
}

html, body {
    font-size: 1.1em;
    text-align: center;
    margin: 0;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornsilk;
}

.info {
    padding: 2.5vh;
}


img {
    width: 650px;
}

.container {
    position: relative;
}

.picture {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    top: -50px;
    right: 50px;
    left: 800px;
}

a:hover {
    background-color: gray;
}

.quote {
    font-style: italic;
}

.mission, .quote {
    padding-top: 10vh;
}