* {
    box-sizing: border-box;
}

html, body {
    font-size: 1.1em;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flexbox;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornsilk;
}

.info {
    padding: 2.5vh;
}


img {
    width: 200px;
}
